<div class="uk-1-1">
	<div class="uk-panel uk-panel-header uk-panel-box uk-text-left">
	  <h3 class="uk-panel-title">Envio de arquivo</h3>
		<%= render 'form' %>
	</div>
</div>
<a href="#" class="closemodal">X FECHAR</a>